html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  @extend %montserrat-400;
  color: $text;
  font-size: 17px;
  line-height: 1.5;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %prata;
  font-size: 57px;
  text-transform: uppercase;
}

input,
textarea {
  &:active,
  &:focus {
    outline: transparent;
  }
}

button {
  cursor: pointer;

  &:active,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

// ! Скрывает заголовки и т.д. для СЕО
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {
  &:focus {
    border: 1px solid #9cc0f9;
  }

  &:hover {
    border: 1px solid var(--accent-opacity);
  }

  &:active {
    border: 1px solid yellowgreen;
  }
}

.logo {
  width: 118px;
  height: 118px;

  &__img {
    width: 118px;
    height: 118px;
    object-fit: cover;
  }
}

.link {
  display: block;
  width: 155px;
  padding: 20px;
  background-color: var(--accent);
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--basic-light);
  border: 1px solid var(--basic);
  border-radius: 10px;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;

  &:hover {
    background-color: var(--basic);
    border-color: var(--accent);
  }
}

.up {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: var(--basic);
  border: 2px solid var(--basic-light);
  border-radius: 50%;
  bottom: 30px;
  right: 50px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;

  &__svg {
    fill: var(--basic-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.scroll {
  &.active {
    .up {
      visibility: visible;
      opacity: 1;
    }
  }
}
