.cost {
  background-image: url(../images/columns.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: var(--basic-opacity);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &__wrap {
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -450px top -10px;
    position: relative;
    z-index: 55;
  }

  &__inner {
    padding: 80px 0;
    position: relative;
    z-index: 5;
    color: var(--basic-light);
  }

  &__title {
    margin-bottom: 50px;
  }

  &__controls {
    display: flex;
    margin-bottom: 30px;
  }

  &__controls-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      .cost__controls-link {
        background-color: var(--basic-light);
        color: var(--basic);
      }
    }
  }

  &__controls-link {
    padding: 15px 20px;
    color: var(--basic-light);
    font-size: 18px;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;
    border-left: 1px dashed var(--accent);

    &:hover {
      background-color: var(--basic-light);
      color: var(--basic);
    }
  }

  &__tabs-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__tabs-item {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin-bottom: 5px;
      @include line-clamp(2);
    }

    span {
      color: var(--basic-light);
    }
  }

  &__tabs-link {
    border-color: var(--basic-opacity);

    &:hover {
      background-color: transparent;
      color: var(--accent);
    }
  }
}
